/app/bower_components
.AppleDB
._*
.apdisk
.Trashes
# Windows image file caches
# Thumbnails
$RECYCLE.BIN/
.VolumeIcon.icns
*.cab
# Recycle Bin used on file shares
.AppleDouble
# Files that might appear in the root of a volume
# Directories potentially created on remote AFP share
# OSX
*.lnk
ehthumbs.db
# Operating System Files
.TemporaryItems
.Spotlight-V100
# Folder config file
Temporary Items
# Windows shortcuts
*.msm
# =========================
*.msi
.fseventsd
# Windows Installer files
Desktop.ini
.DS_Store
/node_modules
Network Trash Folder
Thumbs.db
.LSOverride
.DocumentRevisions-V100
*.msp
.AppleDesktop