* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'BRUX-Regular';
  src: local('BRUX-Regular'), url("http://nomail.com.ua/files/woff/e4bf66e1c19eb746a6cb52ab6dfc162e.woff") format('woff');
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  background: url("bridge-828849_1280.jpg") no-repeat center center fixed;
  background-size: cover;
}
.main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .name {
  font-family: BRUX, BRUX-Regular, 'Open Sans', Raleway, sans-serif;
  text-align: center;
  color: #333;
  margin: 1rem;
  font-size: 3rem;
}
.main a {
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Open Sans', Raleway, sans-serif;
  font-weight: 400;
  color: #fff;
}
.main .count {
  margin: 15rem auto;
  width: 24rem;
}
.main .count .count_section {
  text-align: center;
  width: 10rem;
  padding: 2rem 0;
  line-height: 3rem;
  background: #333;
  border-radius: 5rem;
  color: #ddd;
  font-size: 1.5rem;
  font-family: 'Open Sans', Raleway, sans-serif;
  font-weight: 400;
  opacity: 0.9;
  margin: 1rem;
  float: left;
}
@media (min-width: 768px) {
  .bg {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    filter: blur(8px);
  }
  .main {
    width: 75%;
    height: 75%;
    border: 2px solid #ccc;
    background: url("bridge-828849_1280.jpg") no-repeat center center;
    background-size: cover;
  }
  .main .count {
    margin: 1rem auto;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    float: left;
    width: auto;
  }
  .main .count .count_section {
    float: left;
  }
}
.mylogo {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  background: url("logo_lr.png") no-repeat;
  background-size: cover;
  width: 150px;
  height: 53px;
}
@media (max-width: 436px) {
  .main .count {
    margin: 1rem auto;
    width: 12rem;
    background-color: #fff;
  }
  .mylogo {
    display: none;
  }
}